@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/src/fonts/Roboto-Regular.woff2") format("woff2"), url("/src/fonts/Roboto-Regular.woff") format("woff"), url("/src/fonts/Roboto-Regular.ttf") format("truetype"), url("/src/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/src/fonts/Roboto-Medium.woff2") format("woff2"), url("/src/fonts/Roboto-Medium.woff") format("woff"), url("/src/fonts/Roboto-Medium.ttf") format("truetype"), url("/src/fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --modal-background: rgba(0, 0, 0, 0.7);
  --primary-font-family: "Roboto";
  --white: #ffffff;
  --darkColor: #000000;
  --textFooterColor: #545454;
  --footerColor: #F7F7F7;
  --activeColor: #ff6b08;
  --redColor: #ff001b;
  --buttonActive: #FF6B01;
  --modalCardCharacterFilm: #8C8C8C;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--primary-font-family), Verdana, Tahoma, arial, sans-serif;
  font-weight: 500;
}

body.modal-open {
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 320px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);
  z-index: 99;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 100%;
  max-width: 280px;
  justify-content: center;
  overflow-y: auto;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba 0 0 0, 0.12, 0px 1px 1px rgba 0 0 0, 0.14, 0px 2px 1px rgba 0 0 0, 0, 2;
  transition: 250ms;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .modal {
    max-width: 704px;
    padding-left: 36px;
    padding-right: 72px;
  }
}
@media (min-width: 1280px) {
  .modal {
    max-width: 806px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .modal-container {
    flex-direction: row;
  }
}

.modal-poster {
  margin-bottom: 20px;
  min-width: 240px;
}
@media (min-width: 768px) {
  .modal-poster {
    margin-bottom: 0px;
    margin-right: 68px;
    min-width: 264px;
  }
}
@media (min-width: 1280px) {
  .modal-poster {
    margin-right: 16px;
    min-width: 264px;
  }
}

.poster {
  border-radius: 5px;
  display: block;
}
.modal__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.17;
}
.modal-table {
  width: 215px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .modal-table {
    width: 300px;
  }
}

.modal-table__row + .modal-table__row {
  margin-bottom: 8px;
}

.modal-table__title {
  width: 67px;
  padding-right: 39px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--modalCardCharacterFilm);
}
@media (min-width: 1280px) {
  .modal-table__title {
    padding-right: 83px;
  }
}

.modal-table__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.uppercase {
  text-transform: uppercase;
}

.rate {
  background: #ff6b01;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--white);
}

.vote-count {
  background: var(--footerColor);
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--darkColor);
}

.backslash {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--modalCardCharacterFilm);
}

.row {
  display: flex;
  flex-direction: row;
}

.modal-about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.modal-about__text {
  height: 100px;
  overflow: scroll;
  text-align: left;
  font-weight: 500;
  line-height: 1.66;
}

.modal-buttons {
  display: flex;
}

.modal__add-to-watched {
  margin-right: 15px;
}

.modal__add-to-watched,
.modal__add-to-queue {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #000000;
  color: #000000;
  font-size: 12px;
  padding: 8px;
}

.modal__add-to-watched:hover,
.modal__add-to-queue:hover {
  background-color: var(--activeColor);
  color: var(--white);
  transition: background-color 0.4s;
}

.modal__close {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__close-icon {
  width: 12px;
  height: 12px;
}

.header {
  position: relative;
  overflow: hidden;
  height: 230px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--textFooterColor);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/src/images/bg-images/lb-mobile@x1.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url("/src/images/bg-images/lb-mobile@x2.jpg");
  }
}
@media (min-width: 768px) {
  .header {
    height: 216px;
    background-image: url("/src/images/bg-images/lb-tablet@x1.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("/src/images/bg-images/lb-tablet@x2.jpg");
  }
}
@media (min-width: 1280px) {
  .header {
    background-image: url("/src/images/bg-images/lb-desktop@x1.jpg");
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("/src/images/bg-images/lb-desktop@x2.jpg");
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav__logo {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 6px;
}

.logo-text {
  display: none;
}
@media (min-width: 768px) {
  .logo-text {
    display: block;
  }
}

.menu {
  display: flex;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  line-height: 1.17;
}

.menu__item + .menu__item {
  margin-left: 40px;
}

.menu__link {
  display: block;
  padding-bottom: 3px;
}

.menu-link--current {
  position: relative;
}
.menu-link--current::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  background-color: var(--redColor);
  width: 100%;
  height: 3px;
}

.header__button {
  display: flex;
  justify-content: center;
}

.button-item + .button-item {
  margin-left: 40px;
}
@media (min-width: 768px) {
  .button-item + .button-item {
    margin-left: 32px;
  }
}
@media (min-width: 1280px) {
  .button-item + .button-item {
    margin-left: 16px;
  }
}

.header__button {
  margin-top: 20px;
  margin-bottom: 62px;
}
@media (min-width: 768px) {
  .header__button {
    margin-top: 0px;
  }
}

.button-switches {
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 130px;
  color: var(--white);
  background-color: inherit;
  border: 1px solid var(--white);
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  transition: background-color 0.4s ease;
}
.button-switches:hover, .button-switches:focus {
  background-color: var(--activeColor);
  color: var(--white);
  transition: background-color 0.4s ease;
}

.fa-snowflake {
  color: #fff;
  position: absolute;
  top: -20px;
  box-shadow: 5px 5px 10px #fff;
  -webkit-animation: snowFall 3s linear infinite;
          animation: snowFall 3s linear infinite;
}

@-webkit-keyframes snowFall {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(2000%);
    opacity: 0;
  }
}

@keyframes snowFall {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(2000%);
    opacity: 0;
  }
}
#pagination-list {
  display: flex;
  justify-content: center;
}

.pagination {
  padding-bottom: 60px;
}

.pagination-list__button.current {
  background-color: orange;
}

.pagination-list__item {
  margin-right: 4px;
}

.pagination-list__button {
  padding: 12px 18px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  background-color: transparent;
  transition: background-color 250ms ease-in;
  border-radius: 5px;
}
.pagination-list__button:hover, .pagination-list__button:focus, .pagination-list__button:active {
  background-color: orange;
}

[data-left_one_page],
[data-right_one_page] {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--footerColor);
  transition: background-color 250ms ease-in;
}
[data-left_one_page]:hover, [data-left_one_page]:focus, [data-left_one_page]:active,
[data-right_one_page]:hover,
[data-right_one_page]:focus,
[data-right_one_page]:active {
  background-color: bisque;
}
[data-left_one_page] > svg,
[data-right_one_page] > svg {
  width: 16px;
  height: 16px;
}

.footer {
  background-color: var(--footerColor);
}

.footer-container {
  padding-top: 29px;
  padding-bottom: 29px;
}

.about-company {
  color: var(--textFooterColor);
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
}

.svg-heart {
  fill: var(--activeColor);
}

[data-modal-btn] {
  padding: 0;
  font-weight: 400;
  border: none;
  background-color: var(--footerColor);
  color: var(--textFooterColor);
  background: linear-gradient(to left, #4ae7a0, #f9dd94 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

.heart-btn {
  border: none;
  background-color: var(--footerColor);
}

.likes {
  margin-right: 4px;
}/*# sourceMappingURL=library.css.map */