@font-face {
    font-family: 'Roboto';
    src: 
        local('Roboto'),
        url('/src/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/src/fonts/Roboto-Regular.woff') format('woff'),
        url('/src/fonts/Roboto-Regular.ttf') format('truetype'),
        url('/src/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: 
        local('Roboto'),
        url('/src/fonts/Roboto-Medium.woff2') format('woff2'),
        url('/src/fonts/Roboto-Medium.woff') format('woff'),
        url('/src/fonts/Roboto-Medium.ttf') format('truetype'),
        url('/src/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@import '~node_modules/modern-normalize/modern-normalize.css';

:root{
--modal-background: rgba(0, 0, 0, 0.2);
--primary-font-family: 'Roboto';
--white: #ffffff;
--darkColor: #000000;
--textFooterColor: #545454;
--footerColor: #F7F7F7;
--activeColor: #ff6b08;
--redColor: #ff001b;
--buttonActive: #FF6B01;
--modalCardCharacterFilm: #8C8C8C;
}

