<section class="section">
    <div class="container">
        <h1 class="visually-hidden">Film Container Library</h1>
        <div class="film__library--not visually-hidden" id="library">
            <p class="film__library--not--title">OOOPS!</p>
            <p class="film__library--not--text">Empty</p><img class="film__library--not--img" src="/src/images/not-film.jpg" alt="empty"
                width="400" />
        </div>
        <ul class="cards__list--library" data-library>
        </ul>
    </div>
    
</section>


