<footer class="footer">
    <div class="container footer-container">
        <p class="about-company">
            &#169; 2022 | All Rights Reserved | Developed with 
                <svg class="svg-heart" width="14" height="12">
                <use href="/src/images/sprite.svg#heart"></use></svg> 
            <button type="button" data-modal-btn="modal-team">by GoIT Students</button>
        </p>
        <div class="footer-modal">
            <div class="modal-content">
                <div class="modal-inner">
                    <div class="foo-title">
                        <h2 class="modal_title">DEVELOPERS onTheLight Team</h2>
                    </div>
                    
                    <ul>
                        <li>
                        
                            <img  class="round" src="/src/images/team-pictures/maksym.jpg" alt="team-leader" width="140">
                            
                        </li>
                          <a href="https://github.com/Maxoverking">GitHub</a>
                            <p>Team-leader</p>
                            <span>Averkin Maksym</span>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>

