<footer class="footer">
    <div class="container footer-container">
        <p class="about-company">
            &#169; 2022 | All Rights Reserved | Developed with 
                <svg class="svg-heart" width="14" height="12">
                <use href="/src/images/sprite.svg#heart"></use></svg> 
            <button type="button" data-modal-btn="modal-team">by GoIT Students</button>
        </p>
        <div class="footer-modal">
            <div class="modal-content">
                <div class="modal-inner">
                    <div class="foo-title">
                        <h2 class="modal_title">DEVELOPERS </h2>
                        <p class="modal_title modal_title-name">LightOn Team</p>
                    </div>
                    <ul class="team-container">
                        <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/maksym.jpg" alt="team-leader" >
                            <a class="github" href="https://github.com/Maxoverking">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                          <div class="team-title">
                            <p>Team Leader</p>
                            <span>Averkin Maksym</span>
                          </div>
                            
                        </li>
                        <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/sergey.jpg" alt="scrum" width="140">
                            <a class="github" href="https://github.com/SergY29">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                            <div class="team-title">
                            <p>Scrum Master</p>
                            <span>Sergey Yurtin</span>
                          </div>
                        </li>
                        <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/ivanK.jpg" alt="Koshel Ivan" >
                            <a class="github" href="https://github.com/Ivan-GoIT">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                            <div class="team-title">
                            <p>Developer</p>
                            <span>Koshel Ivan</span>
                          </div>
                        </li>
                        <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/tatiana.jpg" alt="Tetiana Vielkova" >
                            <a class="github" href="https://github.com/TetianaVielkova">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                            <div class="team-title">
                            <p>Developer</p>
                            <span>Tetiana Vielkova</span>
                          </div>
                        </li>
                        <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/vanya.jpg" alt="IvanBogachov" width="140">
                            <a class="github" href="https://github.com/IvanBogachov">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                            <div class="team-title">
                            <p>Developer</p>
                            <span>Ivan Bogachov</span>
                          </div>
                        </li>
                        <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/evgeny.jpg" alt="team-leader" width="140">
                            <a class="github" href="https://github.com/Maxoverking">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                            <div class="team-title">
                            <p>Developer</p>
                            <span>Averkin Maksym</span>
                          </div>
                        </li>
                        <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/roman.jpg" alt="Roman Denisenko" width="140">
                            <a class="github" href="https://github.com/Romannorish">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                            <div class="team-title">
                            <p>Developer</p>
                            <span>Roman Denisenko</span>
                          </div>
                        </li>
                         <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/maksym.jpg" alt="team-leader" width="140">
                            <a class="github" href="https://github.com/Maxoverking">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                            <div class="team-title">
                            <p>Developer</p>
                            <span>Averkin Maksym</span>
                          </div>
                        </li>
                         <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/maksym.jpg" alt="team-leader" width="140">
                            <a class="github" href="https://github.com/Maxoverking">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                           <div class="team-title">
                            <p>Developer</p>
                            <span>Averkin Maksym</span>
                          </div>
                        </li>
                         <li class="team-data">
                            <img  class="round" src="/src/images/team-pictures/maksym.jpg" alt="team-leader" width="140">
                            <a class="github" href="https://github.com/Maxoverking">
                            <svg width="26" height="20"; >
                                <use href="/src/images/sprite.svg#icon-github"></use>
                            </svg>
                          </a>
                            <div class="team-title">
                            <p>Developer</p>
                            <span>Averkin Maksym</span>
                          </div>
                        </li>
                        
                       
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>

