<header class="header">
    <div class="container">
        <nav class="site-nav">
        <a href="/src/index.html" class="site-nav__logo">
            <svg class="svg-film" width="24" height="24">
                <use href="/src/images/sprite.svg#film"></use>
            </svg>
        <span class="logo-text">Filmoteka</span>
        </a>
        <ul class="menu">
            <li class="menu__item">
                <a href="/src/index.html" class="menu__link menu-link--current">Home</a>
            </li>
            <li class="menu__item">
                <a href="/src/library.html" class="menu__link">my library</a>
            </li>
        </ul>
        </nav>

        <form class="search-form" name="input-film"> 
            <div class="search-form__input">
                <label for="inputSearch" class="search-form__label label-hidden">
                    Enter movie title to search
                </label>
                <input class="search-form__input-field" 
                type="text" 
                name="search-film" 
                id="inputSearch" 
                placeholder="Movie search" 
                autofocus="off"
                required />
                <button type="submit" class="button-search">
                    <svg class="svg-search" width="12" height="12">
                        <use href="/src/images/sprite.svg#search"></use>
                    </svg>
                </button>
            </div>
        </form>
        <p class="error-search ">Search result not successful. Enter the correct movie name.</p>
    </div>
</header>


