<div class="backdrop is-hidden" data-modal>

  <div class="modal">
    <ul class="modal_position">

      <li class="modal_position__flex">
        <div class="modal-poster">
          <img
            src="https://m.media-amazon.com/images/M/MV5BM2ZmMjEyZmYtOGM4YS00YTNhLWE3ZDMtNzQxM2RhNjBlODIyXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg"
            class="poster" alt="poster" id="poster">
        </div>
      </li>
      <li class="modal_position__flex">
        <div class="modal-info">
          <h2 class="modal__title" id="modalTitle">Film name</h2>
          <div class="modal-data">
            <table class="modal-data-table">
              <tbody>
                <tr>
                  <td class="modal__characteristic-rating"><span class="modal__characteristic-rating--text">Vote /
                      Votes</span> </td>
                  <td class="modal__characteristic-rating"> <span class="modal__characteristic-inform--accent"
                      id="averageRating">8.8</span> /
                    <span class="modal__characteristic-inform" id="rating">1912</span>
                  </td>
                </tr>
                <tr>
                  <td class="modal__characteristic-popularity"><span
                      class="modal__characteristic-popularity--text">Popularity</span></td>
                  <td class="modal__characteristic-popularity"> <span class="modal__characteristic-inform"
                      id="popularity">10410.3</span> </td>
                </tr>
                <tr>
                  <td class="modal__characteristic-title"><span class="modal__characteristic-title--text">Original
                      Title</span></td>
                  <td class="modal__characteristic-title"> <span class="block-style modal__characteristic-inform"
                      id="title">Wednesday</span>
                  </td>
                </tr>
                <tr>
                  <td class="modal__characteristic-genre"><span class="modal__characteristic-genre--text">Genre</span>
                  </td>
                  <td class="modal__characteristic-genre"> <span class="block-style modal__characteristic-inform"
                      id="genre"> Fantasy,
                      Mystery, Comedy</span> </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h3 class="modal__about">ABOUT</h3>
          <p class="modal__about-text" id="aboutMovie">Wednesday Addams is sent to Nevermore Academy, a
            bizarre boarding
            school where she attempts to master her psychic powers, stop a monstrous killing spree of the
            town citizens, and
            solve the supernatural mystery that affected her family 25 years ago — all while navigating her
            new
            relationships.</p>
        <div class="buttons">
        <button
          type="button"
          name=""
          class="addInStorageWantWatch"
          data-addInStorageWatched
          id=""
        >
          add to Watched
        </button>
        <button
          type="button"
          name=""
          class="addInStorageAlreadyWatched"
          data-addInStorageWantWatch
          id=""
        >
          add to queue
        </button>
      </div>
      </li>
    </ul>
    <div class="close">
      <button type="button" class="modal__close" data-modal-close="">
        <svg class="modal__close-icon">
          <use class="use" href="/src/images/Vector-close.svg#Vector-close"></use>
        </svg>
      </button>
    </div>

  </div>

</div>