<div class="backdrop is-hidden" data-modal>

  <div class="modal">
    <ul class="modal_position">


    </ul>
    <div class="buttons">
              <button type="button" name="" class="addInStorageWantWatch" data-addInStorageWatched id="">
                add to Watched
              </button>
              <button type="button" name="" class="addInStorageAlreadyWatched" data-addInStorageWantWatch id="">
                add to queue
              </button>
    </div>
    <div class="close">
      <button type="button" class="modal__close" data-modal-close="">
        <svg class="modal__close-icon">
          <use class="use" href="/src/images/Vector-close.svg#Vector-close"></use>
        </svg>
      </button>
    </div>

  </div>

</div>