<button type="button" class="btn" data-modal-open>Open window</button>


<div class="backdrop is-hidden" data-modal>

    <div class="modal">
        <div>
            <button type="button" class="modal__close" data-modal-close>
                <p>close window</p>
            </button>   
        </div>
        
            <div class="modal-poster">
                <img src="https://m.media-amazon.com/images/M/MV5BM2ZmMjEyZmYtOGM4YS00YTNhLWE3ZDMtNzQxM2RhNjBlODIyXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg"
                    class="poster" alt="poster" id="poster" width="300">
            </div>

                        <div id="modal-placeholder" class="hidden modal-placeholder-thumb">
                            <span class="modal-placeholder-poster">
                                <span class="modal-placeholder-tittle-wrapper">
                                    <span class="modal-placeholder-tittle"></span>
                                </span>
                            </span>
                        </div>

        <div class="loader-movie">
            <div class="loader-spinner">
            </div>
        </div>

        <div class="modal-info">
            <h2 class="modal__title" id="modalTitle">Film name</h2>
            <div class="modal-data">
                <table class="modal-data__table">
                    <tbody>
                        <tr>
                            <td class="modal-rating"></td>
                            <td>
                                <span class="modal-inform__accent" id="aveRating">Vote / Votes</span>
                                " /"
                                <span class="modal-inform" id="rating"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="modal-popularity">Popularity</td>
                            <td class="modal-popularity">
                                <span class="modal-inform" id="popularity"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="modal-about_title"></td>
                            <td class="modal-about_title">
                                <span class="block-style modal-inform" id="title"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="modal-genre">Genre</td>
                            <td class="modal-genre">
                                <span class="block-style modal-inform" id="genre"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 class="modal-about">ABOUT</h3>
            <p class="modal-about__text" id="aboutMovie"></p>
            <div class="buttons">
                <button type="button" name="" class="addInStorageWantWatch" id="">add to Watched</button>
                <button type="button" name="" class="addInStorageAlreadyWatched" id="">add to queue</button>
            </div>
        </div>
    
    </div>

</div>
