.footer-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #4a4444, $alpha: 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease-in-out;
}
.opn-ftr_modal {
  opacity: 1;
  visibility: visible;
}
.modal-content {
  position: absolute;
  z-index: 25;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 130%);
  padding: 10px;
  border: none;
  border-radius: 20px;
  transition: transform 800ms ease-in-out;
  background-color: rgb(27, 8, 8);
  overflow-y: auto;
  overflow-x: hidden;
  @media (max-width: 520px) {
    width: 86%;
    height: 70%;
  }
  @media (min-width: 1100px) {
    width: 900px;
  }
}
.footer-modal.opn-ftr_modal .modal-content {
  transform: translate(-50%, -50%);
}
.foo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_title {
  font-size: 1.5em;

  &-name {
    padding: 10px;
    transform: scale(2);
    font-size: x-large;
    color: rgb(128, 45, 28);
  }
}
.round {
  width: 140px;
  height: 140px;
  border-radius: 60px 60px 0;
  box-shadow: -4px 10px 15px 1px #ffe488, 4px -2px 15px 1px #151d23,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6px;
  justify-content: center;
  gap: 14px;
  @media (min-width: 520px) {
    gap: 30px;
    padding-top: 18px;
  }
}
.team-data {
  position: relative;
  display: inline-block;
}
.team-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  & > p,
  span {
    color: rgba(255, 248, 124, 0.8);
  }
}
.github {
  position: absolute;
  right: 0;
  top: 118px;
  fill: rgb(255, 127, 92);
  transition: transform 350ms ease-in-out;

  &:hover {
    transform: scale(1.5) translateY(10);
    fill: #0b0b0b;
  }
}
.on {
  color: rgb(243, 248, 110);
  text-shadow: -9px -24px 20px #ffc21d, 9px -19px 20px #ffc21d,
    7px 21px 18px rgba(255, 194, 29, 0.83),
    7px 21px 18px rgba(255, 194, 29, 0.83),
    -13px 21px 18px rgba(255, 194, 29, 0.83),
    40px 21px 18px rgba(255, 194, 29, 0.83),
    40px -26px 20px rgba(255, 194, 29, 0.83),
    40px -6px 20px rgba(255, 194, 29, 0.83),
    40px -6px 20px rgba(255, 194, 29, 0.83),
    40px -6px 20px rgba(255, 194, 29, 0.83),
    40px 15px 20px rgba(255, 194, 29, 0.83),
    40px 15px 20px rgba(255, 194, 29, 0.83),
    40px 15px 20px rgba(255, 194, 29, 0.83),
    40px 15px 20px rgba(255, 194, 29, 0.83);
}
