.footer{
   background-color: var(--footerColor);
}

.footer-container{
    padding-top: 29px;
    padding-bottom: 29px;
}

.about-company{
    color: var(--textFooterColor);
    font-weight: 400;
    line-height: 1.17;
    text-align:  center;
}

.svg-heart {
    fill: var(--activeColor);
}
[data-modal-btn]{
    padding: 0;
    font-weight: 400;
    border: none;
    background-color: var(--footerColor);
    color: var(--textFooterColor);
    background: linear-gradient(to left, #4ae7a0, #f9dd94 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}
.heart-btn{
   border: none; 
   background-color: var(--footerColor);
}
.likes{
margin-right: 4px;
}
    




