.footer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #6a4618, $alpha: .7); 
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
}
.footer-modal.opn-ftr_modal .modal-content{
transform: translate(-50%,-50%) ;
}
.opn-ftr_modal{
    opacity: 1;
    visibility: visible;
}
.modal-content {
    position: absolute;
    z-index: 25;
    width: 76%;
    top:  50%;
    left: 50%;
    transform: translate(-50%,440%);
    padding: 20px;
    border: none;
    border-radius: 20px;
    transition: transform 800ms ease-in-out;
    background-color: var(--footerColor);
    overflow-y: auto;
    overflow-x: hidden;
}

// .modal-inner {
// }
// .modal_title {
// }
.foo-title{
    display: flex;
    justify-content: center;
}

  @mixin border-gradient($from, $to, $weight: 1) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
              0 -1px 0 $weight rgba($mix-sub-from, .25),
              1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight  rgba($mix-sub-from, .25),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px 1px 0 $weight rgba($to, .75),
              -1px -1px 0 $weight rgba($from, .75);
}
.round {
// border-radius: 60px 60px 0px; /* Радиус скругления */
// border: 4px solid rgba(#6a4618, $alpha: .7);
  border-radius: 100%;
  
  @include border-gradient(red, yellow);
  animation: border-gradient 0.2s linear infinite; 
//   box-shadow: 0 0 14px #666;

  }
    /* Параметры рамки */
//     // box-shadow: 0 0 7px #666;
// }
//     border-radius: 60px; /* Радиус скругления */
//     border: 4px solid rgba($color: #6a4618, $alpha: .7); /* Параметры рамки */
//     // box-shadow: 0 0 7px #666;
// }

.circle{
    display: inline-block;
    border-radius: 60px;
     
 
    animation: rotateThis 1s linear infinite; 
}
@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(3);
  }
  
  to {
    transform: rotate(360deg) scale(5);
  }
}
