.header {
    position: relative;
    overflow: hidden;
    height: 230px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--textFooterColor);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/src/images/bg-images/lb-mobile@x1.jpg");

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("/src/images/bg-images/lb-mobile@x2.jpg");
    }

    @media (min-width: 768px) {
        height: 216px;
        background-image: url("/src/images/bg-images/lb-tablet@x1.jpg");

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("/src/images/bg-images/lb-tablet@x2.jpg");
        }
    }

    @media (min-width: 1280px) {
        background-image: url("/src/images/bg-images/lb-desktop@x1.jpg");



        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("/src/images/bg-images/lb-desktop@x2.jpg");
        }
    }
}

// .svg-film {
//     // fill: var(--activeColor);
// }

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav__logo {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 6px;

 
}

.logo-text {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.menu {
    display: flex;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
    line-height: 1.17;
}

.menu__item+.menu__item {
    margin-left: 40px;
}

.menu__link {
    display: block;
    padding-bottom: 3px;
}

.menu-link--current {
    position: relative;

    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        background-color: var(--redColor);
        width: 100%;
        height: 3px;
    }
}

.header__button {
    display: flex;
    justify-content: center;

}

.button-item + .button-item {
    margin-left: 40px;

    @media (min-width: 768px) {
            margin-left: 32px;
        }
    
                @media (min-width: 1280px) {
                    margin-left: 16px;
                }
}

.header__button{
        margin-top: 20px;
            margin-bottom: 62px;

    @media (min-width: 768px) {
            margin-top: 0px;
        }
}

.button-switches {
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 130px;

    color: var(--white);
    background-color: inherit;
    border: 1px solid var(--white);
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    transition: background-color 0.4s ease ;

    &:hover,
    &:focus {
        background-color: var(--activeColor);
	    color: var(--white);
        transition: background-color 0.4s ease ;
        }
}

.cards__list--library{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px;
}

.header i {
    position: absolute;
    background: #fff;
    border-radius: 80%;
    box-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 80px #fff;
    animation: snowFall 3s linear infinite;
}

@keyframes snowFall {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateY(2000%);
        opacity: 0;
    }
}