.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background);
    z-index: 99;
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .backdrop.is-hidden {
        opacity: 0;
            pointer-events: none;
            visibility: hidden;
            transform: scale(0.5);

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
}

.backdrop.is-hidden .modal {
    transform: scale(0.5);;
}

.modal {
    overflow: auto;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba (0 0 0, 0.12),
    0px 1px 1px rgba (0 0 0, 0.14),
    0px 2px 1px rgba (0 0 0, 0, 2);
    transition: 250ms;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    
    @media screen and (min-width: 1280px) {
        width: 806px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279.98px) {
        width: 704px;
    }

    @media screen and (max-width: 767.98px) {
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }


}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-container {
    display: flex;

    @media screen and (max-width: 767.98px) {
        display: block;
    }
}



.modal_position__flex+.modal_position__flex {
    @media screen and (min-width: 1280px) {
        margin-left: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279.98px) {
        margin-left: 40px;
    }

    @media screen and (max-width: 767.98px) {
        margin-left: 20px;
    }
}

.poster {
    // object-fit: cover;
    // object-position: top;
    border-radius: 5px;
    display: block;
    max-width: 240px;


    @media (min-width: 768px) {

            max-width: 264px;
        }
    
    
        @media (min-width: 1280px) {
            max-width: 375px;
        }

}



.film-info {
    // max-width: 364px;
    flex-direction: column;
    display: flex;
}

.modal__title {
    height: 47px;
    flex-shrink: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    overflow: auto;
    font-family: "Roboto";
}

.modal-data {
    margin-bottom: 20px;
}

.modal__about {
    size: 12px;
    margin-bottom: 8px;
}

.modal__characteristic-rating--text,
.modal__characteristic-popularity--text,
.modal__characteristic-title--text,
.modal__characteristic-genre--text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    color: #8c8c8c;
}

.modal__characteristic-rating,
.modal__characteristic-popularity,
.modal__characteristic-title,
.modal__characteristic-genre {
    margin-bottom: 8px;
    font-size: 12px;
}

.modal-data-table {
    display: table-row;
}

td {
    width: 100%;
}

.modal__about-text {
    letter-spacing: 0;
    text-align: left;
    height: 100px;
    max-height: 120px;
    flex-shrink: 0;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    overflow: auto;
    padding-bottom: auto;
}

.modal__characteristic-inform--accent {
    background: #ff6b01;
    border-radius: 5px;
    width: 10px;
    color: #ffffff;
}

.modal-buttons {
    display: flex;
}

.modal__add-to-watched {
    margin-right: 15px;
}

.modal__add-to-watched,
.modal__add-to-queue {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
    font-size: 12px;
    padding: 8px;
}

.modal__add-to-watched:hover,
.modal__add-to-queue:hover {
    background-color: var(--activeColor);
    color: var(--white);
    transition: background-color 0.4s;
}

.modal__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.modal__close {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 8px;
    right: 8px;
}

.modal__close-icon {
    width: 12px;
    height: 12px;
}